.title-bar {
  padding-left: 40px;
  padding-right: 20px;
  height: 40px;
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 1;
  background-color: #ffffff;
  box-shadow: 0px 1px 2px rgba(20%, 20%, 40%, 0.5);
}

.title-item {
  width: 60px;
  height: 20px;
  margin-top: 10px;
}

.sort-option {
  margin-top: 11px;
  height: 20px;
  width: 49px;
  border: #b7b7b8;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  margin-left: auto;
  display: flex;
}

.option-text {
  font-size: 12px;
  margin-left: 8px;
  color: #cecfcf;
}

.option-icon {
  height: 6px;
  width: 6px;
  margin-top: 6px;
  margin-left: 3px;
}

.food-block {
  position: relative;
  top: 40px;
  width: 100%;
}

.food-title {
  height: 32px;
  width: 100%;
  display: flex;
}

.food-title-text {
  padding-left: 40px;
  padding-top: 4px;
  color: #ffffff;
  flex-grow: 1;
}

.food-title-icon {
  height: 12px;
  width: 21px;
  margin-top: 11px;
  margin-right: 35px;
}

.food-item {
  width: 100%;
  height: 32px;
  padding-left: 40px;
  padding-top: 4px;
  margin-right: 0px;
  color: #8a8a8a;
  background-color: #f6f6f6;
  display: flex;
}

.food-item-check-box {
  height: 16px;
  width: 16px;
  margin-top: 5px;
  margin-right: 10px;
}

.food-item-del {
  height: 16px;
  width: 16px;
  margin-top: 5px;
  margin-right: 20px;
  z-index: 1;
}

.edit {
  width: 100%;
  height: 32px;
  padding-left: 40px;
  border-top-color: #e5e5e5;
  border-top-style: dashed;
  border-top-width: 1px;
  color: #d2d6da;
  background-color: #f6f6f6;
  display: flex;
}

.edit-add {
  height: 16px;
  width: 16px;
  margin-top: 7px;
  margin-right: 8px;
  z-index: 1;
}

.edit-input-box {
  width: 80%;
  height: 30px;
  margin-left: -10px;
  margin-top: 0px;
}

.edit-input {
  border-width: 0px;
  height: 30px;
  box-shadow:#f6f6f6;
  color: #d2d6da;
  background-color: #f6f6f6;
}

.form-control:focus {
  box-shadow: none;
  background-color: #f6f6f6;
}

.recommend-block {
  position: relative;
  margin-top: 40px;
  width: 100%;
}

.recommend-title {
  height: 32px;
  width: 100%;
  background-color:#e3e2e2;
  display: flex;
}

.recommend-title-text{
  padding-left: 40px;
  padding-top: 4px;
  color: #949394;
  flex-grow: 1;
}

.recommend-item {
  width: 100%;
  height: 32px;
  padding-left: 40px;
  padding-top: 4px;
  margin-right: 0px;
  color: #afafaf;
  background-color:#ededec;
  display: flex;
}
